@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #f5f5f5;
    --bg-color2: gray;
    --text-color: black;
    --text--fam: "Roboto", Sans-serif;
    --font--size: 4em;
    --logo--size: 0.5em;
}
  
[data-theme="dark"] {
    --bg-color: black;
    --bg-color2: #333;
    --text-color: #f5f5f5;
}

body {
    background-color: var(--bg-color);
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.card {
    background-color: var(--bg-color2);
    color: var(--text-color);
    font-family: var(--text--fam);
    text-align: center;
    font-size: var(--font--size);
    float: left;
    padding: 10% 5%;
    letter-spacing: 2px;
}

.bi {
    font-size: var(--logo--size);
    cursor: pointer;
    float: right;
}

    @media screen and (max-width: 769px)  {
        h3 {
            font-size: 0.6em;
        }

        .bi {
            font-size: 0.3em;
        }
    }